.card-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-card{
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  opacity: 1;
  color: white !important;
}

.card-wrap.wrap2 .item-card{
 width: 50%;
}
.card-wrap.wrap3 .item-card{
  width: calc(100% / 3);
}
.card-wrap.wrap4 .item-card{
  width: calc(100% / 4);
}

.item-card .thumb{
  border-radius: 10px 10px 0 0;
  padding: .5rem 0;
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  height: 50px;
}
.item-card .thumb.titletext{
  font-size: 30px;
}
.item-card .text{
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  border-radius: 0 0 10px 10px;
}

.item-card:hover{
  opacity: .8;
}

.item-card.sns_tw>*{
  background-color: #55acee;
}
.item-card.sns_ms>*{
  background-color: #318BD2;
}
.item-card.sns_is>*{
  background-color: #E1306C;
}
.item-card.sns_nico>*{
  background-color: #252525;
}
.item-card.sns_nicolive>*{
  background-color: #2F8D8D;
}
.item-card.sns_nicopedia>*{
  background-color: #8c0000;
}
.item-card.sns_yt>*{
  background-color: #F20103;
}
.item-card.sns_bili>*{
  background-color: #379BE3;
}
.item-card.sns_gh>*{
  background-color: #333;
}
.item-card.sns_qt>*{
  background-color: #55C501;
}
.item-card.sns_bl>*{
  background-color: #181C3B;
}
.item-card.sns_pf>*{
  background-color: #F8BB29;
}
.item-card.sns_bo>*{
  background-color: #F34D51;
}
.item-card.sns_st>*{
  background-color: #1B2838;
}
.item-card.sns_vrc>*{
  background-color: #1C5891;
}
.item-card.sns_seed>*{
  background-color: #3289FF;
}
.item-card.sns_az>*{
  background-color: #F69A03;
}
.item-card.sns_dc>*{
  background-color: #404EED;
}



.card ul{
  line-height: 2;
  margin-left: 1em;
  padding-left: 1em;
  list-style-type: disc;
}


/* sp web */
@media screen and (max-width:600px) {
  .sphide{
    display: none;
  }
  .item-card{
    width: 100% !important;
  }
}