::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: inset 0 0 2px #777; 
}
::-webkit-scrollbar-thumb{
  background: #C1C1C1;
  border-radius: 15px;
  box-shadow: none;
}

body{
  width:100%;

  /*フッター関係*/
  padding: 0;
  margin: 0;
  /*フッター関係ここまで*/
  min-height: 100vh;
  margin: 0 auto;
  background-color: #FAFAFA;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

header{
  width:100%;
  height: 70px;
  background-color: #252729;
  margin: 0 auto;
}

#header-logo{
  height: 70px;
  fill: #FFFFFF;
  margin: auto 25px;
}
#header-menu{
  margin: 10px 25px;
  float: right;
}
.header-links{
  height: 70px;
  margin: auto 25px;
  vertical-align: middle;
  font-size: 30px;
  color: white;
  text-decoration:none;
}
.header-contents{
  display: inline-block;
}
.header-contents:hover{
  background-color: #4D4D4D;
}

#main{
  max-width: 1500px;
  margin: 10px auto;
}

#contents{
  max-width: 60%;
  float: left;
  font-size: 1.2em;
}

#side{
  max-width: 30%;
  float: right;
}
.imp-info{
  margin: 10px auto;
  border: dashed red 2px !important;
}
.side-info{
  margin: 10px auto;
  border: dashed #999999 1px;
}
.side-info{
  margin: 10px auto;
  border: dashed #999999 1px;
}
.side-info p{
  margin: 20px 10px;
  font-size: large;
}

footer{
  clear: both;

  width: 100%; 
  background-color: #cacaca;
  color: black;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}
.fotter-contents{
  display: inline-block;
  height: 100%;
  vertical-align: top;
  text-align: left;
}
.fotter-contents p{
  margin: 15px 25px;
  vertical-align: top;
}
.fotter-contents a{
  text-decoration:underline;
  color: blue;
}

#fotter-logo{
  height: 100px;
  fill: black;
  margin: auto 25px;
}