.top-icon-div{
  float: left;
  margin: 1.25rem;
}
#top-icon{
  max-width: 150px;
  width: 100%;
  border-radius: 15px;
}

.top-self-intro{
  margin-left: 1.25rem;
}

.top-si-name{
  font-size: x-large;
}

@media screen and (max-width: 480px) { 

  .top-icon-div{
    width: 100%;
  }
  .top-self-intro{
    margin-left: 0;
  }
  .top-si-name{
    font-size: larger;
  }

}
