body{
    /*フッター関係*/
    padding: 0;
    margin: 0;
    /*フッター関係ここまで*/

    text-align: center;
    background-color: #f4f4f4;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    word-break: keep-all;
}

footer{
    width: 100%; 
    background-color: #cacaca;
    color: black;
    text-align: center;
    padding: 20px 0;

    margin-top: auto;
}

input{
    width:250px;
    height:30px;
    font-size: 20px;
    border-radius: 10px;
}

select{
    width:300px;
    height:30px;
    font-size: 20px;
    border-radius: 10px;
}

button{
    width:150px;
    height:30px;
    font-size: 20px;
    border-radius: 10px;
}

#logo{
    max-width:100%;
    height:auto;
}

.logo-area{
    padding: 25px;
    text-align:center;
}

.main-area{
    padding: 25px;
}