    header{
        width: 100%; 
        background-color: black;
        color: white;
        padding: 5px 0;
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

    .sns , .blog , .mail{
        padding: 0 30px;
        z-index: 1;
        position:relative;
    }
    
    .sns a , .blog a , .mail a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent:-999px;
        z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
    }
    
    a{
        text-decoration:none;
    }
    
    
    .sns:hover{
        color: #00acee;
    }

    #myicon {
        width: 200px;
        height: 200px;
        padding: 1em 0.25em;
        border-radius: 25%;
    }
    #myname {
        font-size: 40px;
        padding: 0.25em 0.5em;
    }

    body {
        /*フッター関係*/
        padding: 0;
        margin: 0;
        /*フッター関係ここまで*/
    
        background-color: #f4f4f4;
        font-size: 18px;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        vertical-align: middle;
    
    }

    .main {
        margin-left: auto;
        margin-right: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    footer{
        width: 100%; 
        background-color: #cacaca;
        color: black;
        text-align: center;
        padding: 20px 0;
    
        margin-top: auto;
    }

    h2 {
        border-left:solid 5px #00fa9a; 
        padding: 0.25em 0.5em;
    }

    /*totopscroll*/
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

/*fromtop*/

/*modal*/
    .modal{
        display: none;
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #modal-paypay {
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
    }
    #modal-kyash {
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
    }
    /* モーダル 背景エリア */
    .modal__bg {
        background: rgba(0,0,0,0.8);
        height: 100vh;
        position: absolute;
        width: 100%;
    }
/*modal*/

    .qr{
        text-align: center;
    }