a {
  text-decoration: none;
}

h3 {
  border-left:solid 5px #00fa9a; 
  padding: 0.25em 0.5em;
}

/*modal*/
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

#modal-paypay {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

#modal-kyash {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* モーダル 背景エリア */
.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

/*modal*/

.qr {
  text-align: center;
}