$pastel_purple: #7f7fff;
$pastel_purple_light: #efefff;

$textcolor1: #4a4a4a;
$textcolor2: #333;
$urlcolor1: #7f7fff;
$urlcolor2: #7f7fff;
$background1: #f4f4f4;
$background2: #fafafa;
$border1: #ccc;
$border2: #999;