.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}

.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.4s;
}

.fadeIn {
  animation-name: fadeInAnime;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}
.fadeOut {
  animation-name: fadeOutAnime;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}
@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeOutAnime {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}