body{
  background-color: #F4F4F4 !important;
}

#header-logo{
  max-height: 60px;
}

.headerdl{
  margin: 0 0.25rem;
}

.headerdl img{
  max-height: 50px;
}

.kv_content{
  text-align: center;
}

.kv_logo{
  width: 100%;
}

.pv_img{
  width: 500px;
  max-width: 100%;
  margin-bottom: 2rem;
}

.kv{
  margin: 8rem 0 5rem 0;
}

.kv_sec{
  min-height: 300px;
}
section{
  margin: 2.5rem 0;
}

.about_content , .houtouse_content{
  display: inline-block;
  width: 590px;
  max-width: 100%;
}
h2{
  padding-bottom: 5px;
  border-bottom: solid 1px lightgray;
}

.dl_content{
  display: block;
}

.dl_sec{
  background-color: #424242;
  padding: 2.5rem 0;
  color: whitesmoke;
}
.kiyaku{
  margin: 1.5rem;
  padding: 1rem;
  height: 300px;
}
.dl_div{
  text-align: center;
}
.dl_div h4{
  margin: 1.5rem 0;
  font-weight: bold;
  text-decoration: underline;
}

.form{
  margin: 1rem;
}
.form a , .form a:hover{
  color: white;
}

.updinfo{
  padding: 1rem;
  height: 300px;
}

footer{
  margin: 3rem 0;
}

/*back to top*/
#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a{
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f139';
  font-size: 50px;
  color: gray;
}