$textcolor1: #252525;
$textcolor2: #252525;
$textcolor3: #333;
$textcolor4: #3A3343;
$textcolor5: #666;
$urlcolor1: #3A3343;
$urlcolor2: #3A3343;
$background1: #EFEFFF;
$background2: #fafafa;
$border1: #eee;
$border2: #ccc;

$themacolor: #3A3343;

$bs-info: #17a2b8;

$card-shadow: 0 0 3px #56525b;