.pages_about{
	span {
		background-color: #3A3343;
		color: #fafafa;
		margin: 0 0.75em 0 0;
		padding: 0 0.25em;
		border-radius: 3px;
		font-family: "M PLUS Rounded 1c", sans-serif;
		transform: rotate(0.03deg);
		&.dic {
			background-color: #ffae1b;
		}
		&.movie {
			background-color: #252525;
		}
		&.music {
			background-color: #07a73c;
		}
		&.twitter {
			background-color: #00acee;
		}
		&.live {
			background-color: #f03;
		}
		&.aword {
			background-color: #df942e;
		}
	}
}