h1{
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  border-left: 5px solid white;
  margin: 1rem 0;
  padding-left: 7.5px;
}
h2{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  border-left: 3px solid white;
  margin: 1rem 0;
  padding-left: 7.5px;
}
h3{
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: .75rem 0;
  padding-left: 10px;
}

p{
  font-size: 16px;
  line-height: 22px;
  margin: .5rem 1rem;
  color: #FAFAFA;
}
[data-barba="wrapper"] a{
  color: #1DA1F2;
}
[data-barba="container"] a:hover{
  color: #5fbcf6;
}

hr{
  color: #727272;
  margin: 1.5rem 1rem;
}

table{
  margin: .25rem 1rem;
  font-size: 14px;
}
td{
  padding: .5rem .5rem;
  border: 1px solid #727272;
}