/* 非表示 */
.is-hide {
  display: none;
}
/* LOADING */
#loader-bg {
background: #4B4B4B;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 100;
}
#loader {
height: 120px;
left: 50%;
margin-left: -60px;
margin-top: -60px;
position: fixed;
top: 50%;
width: 120px;
}
#loader p {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}
#loader p img {
  display: inline-block;
  width: 50px;
}