body{
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Hiragino Kaku Gothic ProN,Meiryo,sans-serif;
  background-color: #FAFAFA;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: url("../img/port_BG.png");
}
body.bg_01{
  background-image: url("../img/bg_01.png");
}
body.bg_02{
  background-image: url("../img/bg_02.jpg");
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #4B4B4B;
}
::-webkit-scrollbar-thumb{
  background: #727272;
  border-radius: 10px;
}

footer small{
  padding: 3px;
  background-color: #4B4B4B;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
}


.header-logo-a{ 
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 5px;
  background-color: #4B4B4B;
  z-index: 50;
}
#header-logo{
  height: 75px;
  padding: 5px 15px;
  fill: white;
}
#header-logo-home{
  padding: 5px 15px;
  color: white;
  font-size: 50px;
}

#menu-cb{
  display: none;
}

#menu-label{
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 20px;
  font-size: 50px;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #4B4B4B;
  z-index: 50;
}
#menu-label i {
  margin-top: 5px;
}
#menu-label:hover{
  background-color: #727272;
}

#menu-div{
  background-color: #4B4B4B;
  position: fixed;
  top: 0;
  right: calc(-50vw - 10px);
  width: 100%;
  max-width: 50vw;
  height: 100%;
  border-radius: 15px 0 0 15px;
  padding: 100px 15px 30px 15px;
  transition: left .5s, right .5s;
  overflow-x: auto;
  z-index: 49;
  box-shadow:-3px 0px 20px -5px whitesmoke;
}

#menu-ul li{
  border-bottom: 0.5px solid #727272;
  font-size: 28px;
  line-height: 42px;
  color: white;
}
#menu-ul li a{
  padding: 10px 5px;
}
#menu-ul li a i{
  margin: 0 20px;
}
#menu-ul li:hover{
  background-color: #727272;
}
.menu-a{
  display: block;
}
.menu-a::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  position: absolute;
  right: 40px;
  font-size: 18px;
}
.menu-a-div{
  text-align: center;
  padding: 20px;
}
.menu-a-div a{
  margin: 20px;
  display: inline-block;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
.menu-a-div a i{
  position:relative;
  top: 10px;
}
.menu-a-div .twitter{
  background-color: #55acee;
  color: white;
}
.menu-a-div .github{
  background-color: #24292E;
  color: white;
}
.menu-a-div .nico{
  background-color: #F4F4F4;
}

#menu-cb:checked + #menu-label + #menu-div{
  right: 0;
}

[data-barba="wrapper"]{
  margin: 0 0 0 auto;
  width: 100%;
  color: white;
}

@media screen and (max-width: 1300px) {
  [data-barba="wrapper"]{
    max-width: 100vw;
  }
}
@media screen and (min-width: 1301px) {
  [data-barba="wrapper"]{
    max-width: 50vw;
  }
}


[data-barba="container"]{
  min-height: 100vh;
  overflow-x: hidden;
  min-width: 700px;
  padding: 30px 10px 50px;
  background-color: #4B4B4B;
  opacity: 0.9;
}

[data-barba-namespace="home"]{
  position: absolute;
  top: -150vh;
}


/* sp web */
@media screen and (max-width:600px) {
  [data-barba="container"]{
    padding-top: 70px;
    min-width: 100vw;
  }
  #menu-div{
    min-width: 100vw;
    right: calc(-100vw - 10px);
  }
}